body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.navbar{
  background-color: brown;
  height: 85px;

}
left-hide-on-med-and-down{
  font-size: 35px;
}
#map {
 height: 400px;
 width: 100%;
}
